{% extends "base.html" %}{% block title %}Qsign{% endblock %}{% block content
%}
<!DOCTYPE html>
<html lang="en">



<body onload="loaddk()">
<!-- Modal Daftarkan Kunci-->
<div class="modal fade" id="newdk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Daftar Kunci Publik</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="dknew" method="post" enctype="multipart/form-data">	
          <div class="form-group row p-2">   
            <label class="col-sm-2  col-form-label">Nama</label>
             <div class="col">
                  <input type="text" name="namauser" class="form-control" value="" required oninvalid="check(this)">
            </div>
          </div>
          <div class="form-group row p-2" >   
            <label class="col-sm-2 col-form-label">Kunci</label>
              <div class="col">
                <input type="text" name="kuncipublik" class="form-control"value="" required oninvalid="check(this)">			 
              </div>
            </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
   <!-- END Modal -->
{% if  session['id_k'] != '' %}
<!-- Modal Edit Kunci-->
<div class="modal fade" id="dk_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Kunci Publik</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="edit_kunci" method="post" enctype="multipart/form-data">	
          <div class="form-group row p-2">   
            <label class="col-sm-2  col-form-label">Nama</label>
             <div class="col">
                  <input type="text" name="namauser2" class="form-control" value="{{data.namauser}}" required oninvalid="check(this)">
                  <input type="hidden" name="modhl" id="modhl" class="form-control" value="">			
                  </div>
          </div>
          <div class="form-group row p-2" >   
            <label class="col-sm-2 col-form-label">Kunci</label>
              <div class="col">
                <input type="text" name="kuncipublik2" class="form-control" value="{{data.kuncipublik}}" required oninvalid="check(this)">			 
              </div>
            </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            <button type="submit" class="btn btn-primary">Perbarui</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  {% else %}
  {% endif %}
   <!-- END Modal -->
   
    <!-- ======= Portfolio Section ======= -->
    <section id="features" class="features">

      <div class="container" data-aos="fade-in">
        <p class="text-white">.</p>
        <header class="section-header">
          <h2></h2>
          <p>Daftar Kunci Publik</p>
        </header>
        <button type="button" class="btn form-control" id="show_edk" data-bs-toggle="modal" data-bs-target="#dk_edit" hidden></button>
        <div>
          <button type="button" class="btn btn-primary form-control p-1" data-bs-toggle="modal" data-bs-target="#newdk">Tambahkan Kunci Baru</button>
          <div class="p-2"></div>
          <input class="form-control" id="myInput" type="text"  onkeyup="myFunction()" placeholder="Cari Nama..">
          <div class="p-2"></div>
          <div class="col-lg-12" style="height: auto; overflow-y: scroll">
             <table style="width:100%" class="table table-hover table-striped table-bordered table-responsive text-center align-middle" id="myTable">
                <thead>
                  <tr>
                    <th>Nama</th>
                    <th>Salin Kunci</th>
                    <th>Perbarui</th>
                    <th>Hapus</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in datak %}

                  <tr>
                    <td style="width:50%;word-wrap: anywhere;">{{ data.namauser }}</td>
                    <td hidden>{{ data.kuncipublik }}</td>
                    <td value="{{ data.kuncipublik }}"><input type="text" class="form-control" id="kunci" name="kunci" value="{{ data.kuncipublik }}" hidden>
                      <button type="button" class="vkbutton btn btn-primary btn-sm" value="{{ data.kuncipublik }}"><i class="bi bi-clipboard-fill"></i></button>
                    </td>
                    <td><a href="{{ url_for('views.dkunci2', id_k= data.id_k ) }}" ><i class="bi bi-gear-wide-connected" style="font-size:25px"></i></a></td>
                    <td><a href="{{ url_for('views.del_kunci', id_k= data.id_k ) }}"><i class="bi bi-trash3-fill" style="font-size:25px"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table> 
            </div>
            </div>
          </div>

    </section><!-- End Portfolio Section -->
  </main><!-- End #main -->
</body>
</html>
<script>
  function acron() {
    $('#newdk').appendTo("body") 
}
</script>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  </script>
<script>
  function loaddk() {
    document.getElementById('show_edk').click()
  }
  </script>

<script>
      function ax3() {  
        // get the text field
        var copyText = document.getElementById(ax3);
      
        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
      }
 
    
</script>
<script>

  var a = document.getElementsByClassName('vkbutton');

  for (var i = 0; i < a.length; i++) {
    a[i].addEventListener('click', function() {
      var b = this.parentNode.parentNode.cells[1].textContent;
      copyToClipboard(b);
      alert(b);
    });
  }

  function copyToClipboard(text) {
    var dummy = document.createElement("textarea");
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
  }
</script>
{% endblock %} 